@charset "UTF-8";

#content{width: 1000px; margin: 0 auto;}
h2{color: #00f; text-align: center;}
.main-pic{text-align: center;}
.menu{text-align: center; margin: 10px;}
a{color: blue;}
input[type="submit"], input[type="reset"]{padding: 8px;}

/* 글쓰기 스타일 */
.tbl_write{width: 600px; margin: 30px auto; border-collapse: collapse;}
.tbl_write td{border: 1px solid #ccc; padding: 10px;}
.tbl_write input[type="text"]{width: 590px; height: 20px; padding:4px}
.tbl_write textarea{width: 590px; height: 300px; padding:4px}
.tbl_write tr:last-child td{text-align: center;}